@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Oswald:wght@500;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: $slate;
}


// header {
//   display: flex;
//   justify-content: center; 
//   height: 100px;
// }
h1, h2 {
  color: #d8e3f1;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  // text-align: center;
  // float: right;
  margin-right: 200px;
  display: inline-block;
}

h3 {
  color: $platinum;
}

.delete-wine {
  border: 1px, solid, $platinum;
  border-radius: 5px;
  background-color: $plum;
  color: $blush;
}
img  {
  height: 200px;
  width: 200px;
  float: left;
  // display: inline-block;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding-left: 0;
}

li {
  text-align: center;
  background-color: $plum;
  border: 1px solid $platinum;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
}

a {
  color: $blush;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

/* cards container */
#wines-display {
  // background-color: ;
  // display: grid;
  // /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  // grid-template-columns: repeat(5, 1fr);
  display: flex; 
  flex-direction: row; 
  flex-flow: row wrap; 
  
}

.wine-card {
  background-color:$blush;
  border: 1px solid $platinum;
  margin: 25px;
  min-width: 280px;
  flex-basis: 20%; 
  padding: 10px;
  border-radius: 10px;

}

h2 {
  text-align: center;
  margin-bottom: 0;
  /* margin-top: 0; */
  font-family: 'Oswald', sans-serif;
  margin-block-start: 0.83em;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  background-color: $blush;
  width: 400px;
  margin-left: 31rem;
  color: $platinum;
  padding: 5px;
}

input, select {
  background-color: #d8e3f1;
  border: .5px, solid, $platinum;
  height:2rem;
  border-radius: 5px;
}
.submit {
 align-items: center;
  color: $blush;
  background-color: $plum;
  height: 1.5rem;
  width: 4rem;
}
@media(max-width: 350px) {
  .charContainer {
    // background: ali;
    display: flex;
    flex-direction: column;

  }
}